{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
	<div class="container">
        <h1 class="my-5 text-center">Modification du mot de passe</h1>  
        <p>Retournez sur votre<a href="{{ path('my_account') }}"> compte</a>. </p>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
	</div>
{% endblock %}