{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
	<div class="container">
        <h1 class="my-5 text-center">Mon compte</h1>
        <div class="alert alert-info text-center"> 
            <h3 class="alert-heading mb-3" >Bienvenue  sur votre espace personnel {{ app.user.firstname }}.</h3>
            <hr>
            <p class="mb-0">Vous pouvez gérer ici vos informations personnelles.</p> 
        </div>

        <div>
            <p>- <a href="{{ path('account_password') }}">Modifier mon mot de passe</a></p>
            <p>- <a href="{{ path('billing_address') }}">Gérer mes adresses de facturation</a></p>
            <p>- Mes commandes</p>
        </div>
        
	</div>
{% endblock %}