<footer class="footer-presta-doc">
	<div class="container">
		<div class="pt-5 pb-5">
			<div class="footer-icon">
				<div>
					<i class="fas fa-phone"></i>
					<h4>Me joindre</h4>
					<span>06.30.61.13.38</span>
					<hr class="hr-footer">
				</div>
				<div>
					<i class="far fa-envelope-open"></i>
					<h4>Me contacter</h4>
					<span>contact@presta-doc.com</span>
				</div>
			</div>
		</div>
		<div class="footer-content pt-4 pb-4">
			<div class="footer-logo text-center">
				<img src="https://picsum.photos/128/128" class="img-fluid" alt="logo">
			</div>
		</div>
	</div>
	<div class="copyright-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 text-center text-lg-left">
					<div class="copyright-text">
						<p>Copyright &copy; <strong id="year-copyright">2020</strong> , Tous droits réservés</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
					<div class="footer-menu">
						<ul>
							<li><a href="#">Accueil</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Vie privée</a></li>
							<li><a href="#">CGV</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
