{% extends 'base.html.twig' %}

{% block title %}Modifier un dossier{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modification du dossier n°
			{{ folder.id }}</h1>

		{{ include('folders/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('folders_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/deleteDocuments.js') }}"></script>
{% endblock %}
