{% extends 'admin/base.html.twig' %}

{% block title %}Page d'administration{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Page d'administration</h1>
    </div>
{% endblock %}
