// Style de la page qui affiche les cartes des packs
.block-page-card-pack {
  .block-pack {
    display: flex;
    justify-content: space-around;

    .card {
      position: relative;
      max-width: 500px;
      box-shadow: 3px 5px 7px #7b7a7a;
      margin-bottom: 45px;
      height: 700px;
      padding: 5px;

      .card-price {
        margin-bottom: 0;
        font-size: $smallFontSize;
        font-weight: bold;
      }

      .card-title {
        color: white;
        text-shadow: 3px 3px 3px #060606;
        margin-top: 15px;
      }

      #link-buy-card {
        position: absolute;
        bottom: -20px;
        right: 0;
      }

      .btn-card {
        @include btn-app($colorSecondary, white);
      }

    }

    #img-tags-pack-card {
      max-width: 145px;
      max-height: 145px;
      position: absolute;
      top: 72px;
      right: -25px;
    }

    .card-content {
      width: 75%;
      font-weight: bold;
      padding: 5px 0px;
      margin: 0 auto;
    }

    .card-1 {
      @include card-app($colorSecondary, $colorSecondary, $colorSecondary);
    }

    .card-2 {
      @include card-app($colorSecondary, $colorSecondary, $colorSecondary);
      .card-content {
        position: relative;
        bottom: -13%;
      }
    }

    .card-3 {
      @include card-app($colorSecondary, $colorSecondary, $colorSecondary);
    }

    .card-4 {
      @include card-app($colorSecondary, $colorSecondary, $colorSecondary);
      .card-content{
        position: relative;
        bottom: -13%;
      }
    }
  }

  // Media query
  @include sm {

    .card {
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
    }

    h1 {
      font-size: $mediumFontSize;
    }

    h2 {
      font-size: $smallFontSize;
      margin: 0 auto;
    }

    #img-tags-pack-card {
      max-width: 105px !important;
      max-height: 105px !important;
      top: 50px !important;
      right: -3px !important;
    }

    .card-content {
      font-size: $xsFontSize;
    }
  }
}