{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1 class="display-4">Bienvenue sur Presta-Doc</h1>
		<p class="lead">Je vous propose mes services pour vous aider dans vos démarche administrative</p>
		<hr class="my-4">
		<p>Vous êtes un particulier, une entreprise ? Je m'occupe de tout !</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Me contacter</a>
		</p>
	</div>
{% endblock %}
